<div class="modal-body orderMgmt">
    <tabset>
        <tab heading="Bezahlen">
            <div class="row">
                <div class="col-md-6">
                    <h3><u>Noch zu bezahlen</u></h3>
                    <table class="table table-hover col-md-6 raiseTable">
                        <thead>
                            <tr>
                                <th>Anz.</th>
                                <th>#</th>
                                <th>
                                    <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                                    <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOrder" placeholder="Search...">
                                </th>
                                <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                                <th><span translate>ORDER_MGMT.TABLE.STATUS</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="offer in order.offers| filter:queryOrder | filter: billFilter | orderBy:'order.desc' track by $index" ng-click="raiseCurBill(offer)">
                                <td>{{calcNumBill(offer)}}</td>
                                <td>{{offer.order.id}}</td>
                                <td>{{offer.order.desc}}</td>
                                <td>{{offer.order.price| priceEuro}}</td>
                                <td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">Gesamtpreis: {{billPrice| priceEuro}}</div>
                </div>
                <div class="col-md-6">
                    <h3><u>aktuelle Rechnung</u></h3>
                    <table class="table table-hover col-md-6 lowerTable">
                        <thead>
                            <tr>
                                <th>Anz.</th>
                                <th>#</th>
                                <th>
                                    <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                                    <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOrder" placeholder="Search...">
                                </th>
                                <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                                <th><span translate>ORDER_MGMT.TABLE.STATUS</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="offer in order.offers| filter:queryOrder | filter: curBillFilter | orderBy:'order.desc' track by $index" ng-click="lowerCurBill(offer)">
                                <td>{{offer.curBill}}</td>
                                <td>{{offer.order.id}}</td>
                                <td>{{offer.order.desc}}</td>
                                <td>{{offer.order.price| priceEuro}}</td>
                                <td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">Gesamtpreis: {{curBillPrice| priceEuro}}</div>
                    <button class="btn btn-primary" ng-click="payCurBill()">Bezahlen</button>
                </div>
            </div>
        </tab>

        <tab heading="Bezahlte Bestellungen">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-hover col-md-6 lowerTable">
                        <thead>
                            <tr>
                                <th>Anz.</th>
                                <th>#</th>
                                <th>
                                    <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                                    <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOrder" placeholder="Search...">
                                </th>
                                <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                                <th><span translate>ORDER_MGMT.TABLE.STATUS</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="offer in order.offers| filter:queryOrder | filter: payedFilter | orderBy:'order.desc' track by $index" ng-click="lowerPayed(offer)">
                                <td>{{offer.payed}}</td>
                                <td>{{offer.order.id}}</td>
                                <td>{{offer.order.desc}}</td>
                                <td>{{offer.order.price| priceEuro}}</td>
                                <td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-12">Gesamtpreis: {{payedPrice| priceEuro}}</div>
                </div>


                
            </div>
        </tab>
    </tabset>
    <button class="btn btn-default" ng-click="ok()">Ok</button>
</div>
