<div class="row orderMgmt">
    <div class="col-md-12">Übersicht
        <button ng-click="newOrder()">Neu</button><button ng-click="deleteAllOrders()">Alle Löschen</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Datum/Uhrzeit 
                    </th>
                    <th>
                        <span translate>Bestellung</span>
                        <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOrders" placeholder="Search...">
                    </th>
                    <th>Tisch</th>
                    <th>Kunde</th>
                    <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders | orderBy:'timestamp':false" ng-click="loadOrder(order)">
                    <td>{{order.timestamp | date:'dd.MM.yy - HH:mm:ss' | timestamp}}</td>
                    <td><span ng-repeat="offer in order.offers">{{offer.count}}x {{offer.order.title}},&nbsp;</span></td>
                    <td>{{order.table}}</td>
                    <td>{{order.customer}}</td>
                    <td>€</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>