<div class="row">
    <div class="col-md-12">Übersicht
        <button ng-click="newOrder()">Neu</button><button ng-click="deleteAllOrders()">Alle Löschen</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                        <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOffer" placeholder="Search...">
                    </th>
                    <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id, order) in orders | filter:queryOffer" ng-click="loadOrder(id, order)">
                    <td>{{id}}</td>
                    <td><span ng-repeat="offer in offers">{{offer[0]}}x {{offer[1]}}</span></td>
                    <td>{{order.timestamp | date:'HH:mm' | timestamp}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>