<div class="orderMgmt">
    <div class="row">
        <div class="col-md-6">Übersicht</div>
        <div class="col-md-2">Tisch-Nr.: {{order.table| table}}</div>
        <div class="col-md-2">Bestellung <br> {{order.timestamp| date:'HH:mm' | timestamp }}</div>
        <div class="col-md-2">
            <button class="btn btn-default" ng-click="setCustomer()">Kunde {{order.customer| customer}} zuordnen
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover raiseTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>
                        <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                        <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOffer"
                               placeholder="Search...">
                    </th>
                    <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="offer in offers| filter:queryOffer" ng-click="addToOrder(offer)">
                    <td>{{offer.id}}</td>
                    <td>{{offer.desc}}</td>
                    <td>{{offer.price| priceEuro}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover lowerTable">
                <thead>
                <tr>
                    <th>Anz.</th>
                    <th>#</th>
                    <th>
                        <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                        <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOrder"
                               placeholder="Search...">
                    </th>
                    <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                    <th><span translate>ORDER_MGMT.TABLE.STATUS</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="offer in order.offers| filter:queryOrder | orderBy:'order.desc' track by $index"
                    ng-click="deleteFromOrder(offer)">
                    <td>{{offer.count}}</td>
                    <td>{{offer.order.id}}</td>
                    <td>{{offer.order.desc}}</td>
                    <td>{{offer.order.price| priceEuro}}</td>
                    <td>{{getStatus(offer)}}</td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-4">Gesamtpreis: {{orderPrice| priceEuro}}</div>
            <div class="col-md-4">Verbleibender Preis: {{leftPrice | priceEuro}}</div>
            <button class="btn btn-primary col-md-4" ng-click="payOrder()">Bezahlen...</button>
        </div>
    </div>
</div>
<button class="btn btn-default" ng-click="saveOrder()">Bestellung speichern</button>
