<div class="orderMgmt">
    <div class="row">


    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12"><h2>Angebot</h2></div>
            <div class="col-md-3">
                <accordion close-others="true" class="orderMgmtCategories">
                    <accordion-group ng-repeat="cat in orderCategories" is-open="cat.open">
                        <accordion-heading>
                            <div ng-click="setCurOrderCategories(cat, cat.open)">
                                {{cat.title}} </div>
                        </accordion-heading>
                        <div ng-repeat="(id, val) in cat.content" ng-click="setCurOrderCategory(id, val)">{{val}}</div>
                    </accordion-group>
                </accordion>

            </div>
            <div class="col-md-9">
                <h4 style="height:35px">Auswahlkategorie: <b>{{curOrderCategories.title}}</b></h4>
                <input type="text" class="form-control" id="overviewSearchDescription" ng-model="queryOffer"
                       placeholder="Search...">
                <table class="table table-hover raiseTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>

                            </th>
                            <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="offer in offers| offerFilter:queryOffer | filter:categoryFilter" ng-click="addToOrder(offer)">
                            <td>{{offer.id}}</td>
                            <td>{{offer.title}}<br><span style="font-size: 8pt">{{offer.desc}}</span></td>
                            <td nowrap>{{offer.price| priceEuro}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12"><h2>Bestellung</h2></div>
            <div class="col-md-4">Tisch-Nr.: 
                <select class="form-control" ng-model="order.table" size="1" style="width:50%;float:right"> 
                    <option ng-repeat="table in tables">{{table}}</option> 
                </select>
            </div>
            <div class="col-md-4">Letzte Änderung:<br> {{order.timestamp| date:'dd.MM.yy - HH:mm' | timestamp }}</div>
            <div class="col-md-4">
                Kunde: {{order.customer | customer}}<br>
                <button class="btn btn-default" ng-click="setCustomer()">Kunde zuordnen</button>
                
            </div>
            <input type="text" class="form-control" id="overviewSearchDescription" 
                   ng-model="queryOrder"
                   placeholder="Search...">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Anz.</th>
                        <th>#</th>
                        <th>
                            <span translate>ORDER_MGMT.TABLE.DESCRIPTION</span>
                        </th>
                        <th><span translate>ORDER_MGMT.TABLE.PRICE</span></th>
                        <th><span translate>ORDER_MGMT.TABLE.STATUS</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="offer in order.offers| offerFilter:queryOrder | orderBy:'order.title' track by $index">
                        <td class="counter">
                            <button class="btn btn-default" ng-click="raiseOfferCount(offer, -1)">-</button>
                            <input type="text" class="form-control" ng-model="offer.count" />
                            <button class="btn btn-default" ng-click="raiseOfferCount(offer, 1)">+</button>
                        </td>
                        <td>{{offer.order.id}}</td>
                        <td>{{offer.order.title}}<br><span style="font-size: 8pt">{{offer.order.desc}}</span></td>
                        <td nowrap>{{offer.order.price| priceEuro}}<br>
                            <span style="font-size: 8pt">({{offer.order.price * offer.count| priceEuro}})</span>
                        </td>
                        <td>{{getStatus(offer)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-4">Gesamtpreis: {{orderPrice| priceEuro}}</div>
            <div class="col-md-4">Offen: {{leftPrice| priceEuro}}</div>
            <div class="col-md-4"><button class="btn btn-primary" ng-click="payOrder()" style="float:right">Bezahlen...</div>
            <div class="row">
                <div class="col-md-12" style="padding-top:20px">
                    <button class="btn btn-primary" ng-click="saveOrder()">Speichern und Zurück</button>
                    <button class="btn btn-default" ng-click="discardOrder()">Verwerfen und Zurück</button>
                </div>
            </div>
        </div>
    </div>
</div>
