<div class="modal-body orderMgmt">
    <tabset>
        <tab heading="Neuen Kunden anlegen">
            <div class="row">
                <div class="col-md-12">Name des Kunden:
                    <input type="text" class="form-control" id="customerName"
                           placeholder="Kundenname..."/>
                </div>
                <button class="btn btn-primary" ng-click="">Kunde anlegen</button>
            </div>
        </tab>


        <tab heading="Bestehenden Kunden auswählen">

        </tab>
    </tabset>
    <button class="btn btn-default" ng-click="ok()">Ok</button>
</div>
